<li>
    <div id=<%=item.id%>>  
        <H2>Item:</H2> <%=item.item%>
        <button type="button" id=<%=item.id%> class='dlt' >Delete This Item</button>
    </div>
    <div>
        <H2>Description:</H2> <%= item.desc %>
    </div>
    <div> 
        <H2>Category: </H2><%=item.ctg%>
    </div>
    <div> 
        <H2>Date: </H2><%=item.date%>
    </div>
    
</li>