<li>
    <p id=<%=item.id%>>  
        <H2>Item:</H2> <%=item.item%>
    </p>
    <p>
        <H2>Description:</H2> <%= item.desc %>
    </p>
    <P> 
        <H2>Category: </H2><%=item.catg%>
    </P>
    <P> 
        <H2>Date: </H2><%=item.date%>
    </P>

    <h3 id='item-id'><%=item.id%></h3>

    <button type="button" id=<%=item.id%> class='dlt' >Delete This Item</button>
</li>